## Setting
- master1_cleansing_map_before.csv 을 이용해 추가 클린징 진행
- 위 파일 배포자 참고▼   https://github.com/eeuunnzzyy/eeuunnzzyy/blob/main/The%20Transportation%20Vulnerable%20Project/000%20Dailydata%20Cleansing%20%26%20EDA.ipynb

In [89]:
import pandas as pd
import numpy as np
import datetime 
import seaborn as sns
import glob

In [90]:
paths = glob.glob('./data/*.csv')
paths

['./data/master_cleansing_space_time.csv',
 './data/master.csv',
 './data/master1_cleansing_map_before.csv']

In [91]:
paths[2]

'./data/master1_cleansing_map_before.csv'

In [92]:
df = pd.read_csv(paths[2])
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407553 entries, 0 to 407552
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   no         407553 non-null  int64
 1   cartype    407553 non-null  object
 2   예정시간       407553 non-null  object
 3   배차시간       407553 non-null  object
 4   승차시간       407553 non-null  object
 5   startpos1  407553 non-null  object
 6   startpos2  407553 non-null  object
 7   endpos1    407553 non-null  object
 8   endpos2    407553 non-null  object
dtypes: int64(1), object(8)
memory usage: 28.0+ MB

In [94]:
df.shape

(407553, 9)

## 1. 3가지 차이 시간 칼럼 생성

In [136]:
import time
# from datetime import datetime
import datetime

### '배차-예정'

In [96]:
%%time

배차예정_val = []
for i in range(len(df)):
    time_1 = datetime.strptime(df['예정시간'][i],"%Y-%m-%d %H:%M:%S")
    time_2 = datetime.strptime(df['배차시간'][i],"%Y-%m-%d %H:%M:%S")
    time_interval = time_2 - time_1
    배차예정_val.append(time_interval)
    
##날짜와 시간(datetime)을 문자열로 출력하려면 strftime
##날짜와 시간 형식의 문자열을 datetime으로 변환하려면 strptime을 사용하면 된다

CPU times: user 8.13 s, sys: 16.8 ms, total: 8.15 s
Wall time: 8.15 s

In [97]:
df['배차-예정'] = 배차예정_val

### '승차-배차'

In [98]:
%%time

승차배차_val = []
for i in range(len(df)):
    time_1 = datetime.strptime(df['배차시간'][i],"%Y-%m-%d %H:%M:%S")
    time_2 = datetime.strptime(df['승차시간'][i],"%Y-%m-%d %H:%M:%S")
    time_interval = time_2 - time_1
    승차배차_val.append(time_interval)

CPU times: user 8.12 s, sys: 12.7 ms, total: 8.13 s
Wall time: 8.13 s

In [99]:
df['승차-배차'] = 승차배차_val

### '승차-예정'

In [100]:
%%time

승차예정_val = []
for i in range(len(df)):
    time_1 = datetime.strptime(df['예정시간'][i],"%Y-%m-%d %H:%M:%S")
    time_2 = datetime.strptime(df['승차시간'][i],"%Y-%m-%d %H:%M:%S")
    time_interval = time_2 - time_1
    승차예정_val.append(time_interval)

CPU times: user 8.06 s, sys: 10.7 ms, total: 8.07 s
Wall time: 8.07 s

In [101]:
df['승차-예정'] = 승차예정_val

In [102]:
df.head()

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,배차-예정,승차-배차,승차-예정
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,0 days 00:33:37,-1 days +12:28:45,-1 days +13:02:22
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,-1 days +23:47:06,0 days 00:00:33,-1 days +23:47:39
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,0 days 00:04:19,-1 days +12:18:14,-1 days +12:22:33
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,0 days 00:36:17,0 days 00:22:36,0 days 00:58:53

### -1 days 점검

In [107]:
%%time

배차예정2 = []
for i in range(len(df)):
    배차예정2.append(str(df['배차-예정'][i]))

CPU times: user 4.74 s, sys: 12.9 ms, total: 4.76 s
Wall time: 4.76 s

In [108]:
df['배차-예정2']=배차예정2

In [117]:
df[df['배차-예정2'].str.contains('-1 days')]

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,배차-예정,승차-배차,승차-예정,배차-예정2
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,-1 days +23:47:06,0 days 00:00:33,-1 days +23:47:39,-1 days +23:47:06
25,9568,중형승합,2018-01-23 04:30:00,2018-01-23 04:00:59,2018-01-23 04:47:02,구로구,오류제1동,영등포구,대림제3동,-1 days +23:30:59,0 days 00:46:03,0 days 00:17:02,-1 days +23:30:59
27,7819,중형승합,2018-01-23 04:40:00,2018-01-23 04:02:59,2018-01-23 04:43:09,종로구,부암동,종로구,창신제1동,-1 days +23:22:59,0 days 00:40:10,0 days 00:03:09,-1 days +23:22:59
28,1061,중형승합,2018-01-23 04:40:00,2018-01-23 03:57:30,2018-01-23 04:44:27,송파구,장지동,강동구,명일제1동,-1 days +23:17:30,0 days 00:46:57,0 days 00:04:27,-1 days +23:17:30
30,5804,중형승합,2018-01-23 05:00:00,2018-01-23 04:32:36,2018-01-23 04:56:19,성북구,종암동,종로구,청운효자동,-1 days +23:32:36,0 days 00:23:43,-1 days +23:56:19,-1 days +23:32:36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
407506,5829,중형승용,2022-06-24 07:00:00,2022-06-24 06:35:46,2022-06-24 08:12:29,성동구,마장동,서초구,서초1동,-1 days +23:35:46,0 days 01:36:43,0 days 01:12:29,-1 days +23:35:46
407509,8143,중형승합,2022-06-24 07:00:00,2022-06-24 06:19:36,2022-06-24 07:25:45,관악구,낙성대동,서초구,반포4동,-1 days +23:19:36,0 days 01:06:09,0 days 00:25:45,-1 days +23:19:36
407511,8167,중형승합,2022-06-24 07:00:00,2022-06-24 06:40:43,2022-06-24 07:20:49,강서구,화곡제4동,구로구,수궁동,-1 days +23:40:43,0 days 00:40:06,0 days 00:20:49,-1 days +23:40:43
407523,1921,중형승용,2022-06-24 07:00:00,2022-06-24 06:28:40,2022-06-24 07:30:24,강서구,화곡본동,강남구,청담동,-1 days +23:28:40,0 days 01:01:44,0 days 00:30:24,-1 days +23:28:40
407540,3573,중형승합,2022-06-24 07:00:00,2022-06-24 06:50:17,2022-06-24 07:41:09,광진구,구의제3동,남양주시,오남읍,-1 days +23:50:17,0 days 00:50:52,0 days 00:41:09,-1 days +23:50:17

-----------------------

### 시간차이 분 단위 통합

In [ ]:
# for문전에 돌리기
df["예정시간"]=pd.to_datetime(df["예정시간"])
df["배차시간"]=pd.to_datetime(df["배차시간"])
df["승차시간"]=pd.to_datetime(df["승차시간"])

In [162]:
# 1)
%%time

배차예정_val = []
for i in range(len(df)):
    time_1 = df['예정시간'][i]
    time_2 = df['배차시간'][i]
    
    if time_2 < time_1: # datetime 끼리 비교 가능  
        time_3 = time_2 + datetime.timedelta(hours=23, minutes=60, seconds=60) # datetime + timedelta 가능
        time_interval = time_3 - time_1
        배차예정_val.append(time_interval)
    else:
        time_interval = time_2 - time_1
        배차예정_val.append(time_interval)

CPU times: user 9.21 s, sys: 20.8 ms, total: 9.23 s
Wall time: 9.23 s

In [181]:
# 2) 
%%time

배차예정_val = []
for i in range(len(df)):
    time_1 = df['예정시간'][i]
    time_2 = df['배차시간'][i]
    
    if time_2 < time_1: # datetime 끼리 비교 가능  
        time_interval = time_1 - time_2
        배차예정_val.append(time_interval)
    else:
        time_interval = time_2 - time_1
        배차예정_val.append(time_interval)

CPU times: user 8.89 s, sys: 13.6 ms, total: 8.91 s
Wall time: 8.9 s

In [202]:
#test- 분변환
duration = datetime.timedelta(days = 0, hours=2, minutes=30, seconds=60)
seconds = duration.total_seconds()
minutes = seconds//60

minutes

151.0

In [212]:
%%time

배차예정_val = []

for i in range(len(df)):
    time_1 = df['예정시간'][i]
    time_2 = df['배차시간'][i]
    
    if time_2 < time_1: # datetime 끼리 비교 가능  
        time_interval = time_1 - time_2
        
        seconds = time_interval.total_seconds()
        minutes = -seconds//60

        배차예정_val.append(minutes)
    else:
        time_interval = time_2 - time_1
        
        seconds = time_interval.total_seconds()
        minutes = seconds//60
        
        배차예정_val.append(minutes)

CPU times: user 8.91 s, sys: 14 ms, total: 8.93 s
Wall time: 8.92 s

In [213]:
df['배차-예정3'] = 배차예정_val

In [215]:
df

,no,cartype,예정시간,배차시간,승차시간,startpos1,startpos2,endpos1,endpos2,배차-예정,승차-배차,승차-예정,배차-예정2,배차-예정3
0,7658,중형승합,2018-01-23 12:04:00,2018-01-23 12:18:42,2018-01-23 12:34:08,성북구,장위제1동,동대문구,회기동,0 days 00:14:42,0 days 00:15:26,0 days 00:30:08,0 days 00:14:42,14.0
1,1551,중형승합,2018-01-23 12:17:00,2018-01-23 12:50:37,2018-01-23 01:19:22,중랑구,면목제7동,노원구,상계1동,0 days 00:33:37,-1 days +12:28:45,-1 days +13:02:22,0 days 00:33:37,33.0
2,5804,중형승합,2018-01-23 12:30:00,2018-01-23 12:17:06,2018-01-23 12:17:39,성북구,정릉제3동,강북구,수유제3동,-1 days +23:47:06,0 days 00:00:33,-1 days +23:47:39,-1 days +23:47:06,-13.0
3,7650,중형승합,2018-01-23 12:47:00,2018-01-23 12:51:19,2018-01-23 01:09:33,구로구,고척제2동,관악구,은천동,0 days 00:04:19,-1 days +12:18:14,-1 days +12:22:33,0 days 00:04:19,4.0
4,1061,중형승합,2018-01-23 01:08:00,2018-01-23 01:44:17,2018-01-23 02:06:53,동대문구,회기동,성북구,장위제2동,0 days 00:36:17,0 days 00:22:36,0 days 00:58:53,0 days 00:36:17,36.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407548,8579,대형승용,2022-06-24 07:00:00,2022-06-24 07:12:38,2022-06-24 07:55:24,성북구,돈암제2동,강남구,대치4동,0 days 00:12:38,0 days 00:42:46,0 days 00:55:24,0 days 00:12:38,12.0
407549,8006,중형승합,2022-06-24 07:00:00,2022-06-24 07:09:10,2022-06-24 07:25:35,은평구,구산동,은평구,구산동,0 days 00:09:10,0 days 00:16:25,0 days 00:25:35,0 days 00:09:10,9.0
407550,8261,중형승합,2022-06-24 07:00:00,2022-06-24 07:04:27,2022-06-24 07:25:35,노원구,상계8동,영등포구,영등포동,0 days 00:04:27,0 days 00:21:08,0 days 00:25:35,0 days 00:04:27,4.0
407551,1558,중형승합,2022-06-24 07:00:00,2022-06-24 08:06:22,2022-06-24 06:55:01,성북구,길음제1동,강북구,번제1동,0 days 01:06:22,-1 days +22:48:39,-1 days +23:55:01,0 days 01:06:22,66.0
407552,5725,중형승합,2022-06-24 07:00:00,2022-06-24 07:05:08,2022-06-24 08:31:07,강동구,천호제2동,강동구,명일제1동,0 days 00:05:08,0 days 01:25:59,0 days 01:31:07,0 days 00:05:08,5.0

'배차-예정' 마이너스 값 + 분단위 통합 성공 -> 이제 나머지 '승차-배차','승차-예정'도 통합시켜주자

In [151]:
day = df["예정시간"].iloc[0]
day_before_7777 = day - datetime.timedelta(days=7777)
print(day_before_7777)  # 1980-10-18 00:00:00

1996-10-08 12:04:00

In [150]:
day = datetime.datetime(2002,2,2)
day_before_7777 = day - datetime.timedelta(days=7777)
print(day_before_7777)  # 1980-10-18 00:00:00

1980-10-18 00:00:00

 ## 2. 좌표(위도,경도) 칼럼생성

## 3. 좌표간 거리 칼럼 생성