## Setting

In [202]:
import pandas as pd
import numpy as np
import glob

In [203]:
# 월별 파일 모두 불러옵니다.
paths = glob.glob('./data/장애인등록현황_201801_202205/*.csv')
paths

['./data/장애인등록현황_201801_202205/201808.csv',
 './data/장애인등록현황_201801_202205/201809.csv',
 './data/장애인등록현황_201801_202205/202109.csv',
 './data/장애인등록현황_201801_202205/202108.csv',
 './data/장애인등록현황_201801_202205/201908.csv',
 './data/장애인등록현황_201801_202205/201909.csv',
 './data/장애인등록현황_201801_202205/202009.csv',
 './data/장애인등록현황_201801_202205/202008.csv',
 './data/장애인등록현황_201801_202205/202005.csv',
 './data/장애인등록현황_201801_202205/202011.csv',
 './data/장애인등록현황_201801_202205/201901.csv',
 './data/장애인등록현황_201801_202205/202010.csv',
 './data/장애인등록현황_201801_202205/202004.csv',
 './data/장애인등록현황_201801_202205/202012.csv',
 './data/장애인등록현황_201801_202205/202006.csv',
 './data/장애인등록현황_201801_202205/202204.csv',
 './data/장애인등록현황_201801_202205/201902.csv',
 './data/장애인등록현황_201801_202205/201903.csv',
 './data/장애인등록현황_201801_202205/202205.csv',
 './data/장애인등록현황_201801_202205/202007.csv',
 './data/장애인등록현황_201801_202205/202003.csv',
 './data/장애인등록현황_201801_202205/202201.csv',
 './data/장애인등록현황_201801_202205/201907.csv',
 './data/장애인등록현황_201801_202205/201912.csv',
 './data/장애인등록현황_201801_202205/201906.csv',
 './data/장애인등록현황_201801_202205/202002.csv',
 './data/장애인등록현황_201801_202205/202202.csv',
 './data/장애인등록현황_201801_202205/201910.csv',
 './data/장애인등록현황_201801_202205/201904.csv',
 './data/장애인등록현황_201801_202205/201905.csv',
 './data/장애인등록현황_201801_202205/201911.csv',
 './data/장애인등록현황_201801_202205/202203.csv',
 './data/장애인등록현황_201801_202205/202001.csv',
 './data/장애인등록현황_201801_202205/201802.csv',
 './data/장애인등록현황_201801_202205/202112.csv',
 './data/장애인등록현황_201801_202205/202106.csv',
 './data/장애인등록현황_201801_202205/202107.csv',
 './data/장애인등록현황_201801_202205/201803.csv',
 './data/장애인등록현황_201801_202205/201801.csv',
 './data/장애인등록현황_201801_202205/202105.csv',
 './data/장애인등록현황_201801_202205/202111.csv',
 './data/장애인등록현황_201801_202205/202110.csv',
 './data/장애인등록현황_201801_202205/202104.csv',
 './data/장애인등록현황_201801_202205/201810.csv',
 './data/장애인등록현황_201801_202205/201804.csv',
 './data/장애인등록현황_201801_202205/202101.csv',
 './data/장애인등록현황_201801_202205/201805.csv',
 './data/장애인등록현황_201801_202205/201811.csv',
 './data/장애인등록현황_201801_202205/201807.csv',
 './data/장애인등록현황_201801_202205/202103.csv',
 './data/장애인등록현황_201801_202205/202102.csv',
 './data/장애인등록현황_201801_202205/201812.csv',
 './data/장애인등록현황_201801_202205/201806.csv']

In [204]:
len(paths)

53

In [205]:
df = pd.read_csv(paths[0],encoding = 'cp949')
df.head()

     통계년월  통계시도명 통계시군구명 장애유형  성별  등록장애인수
0  201808  서울특별시    종로구   지체  남자    1477
1  201808  서울특별시    종로구   청각  여자     337
2  201808  서울특별시    종로구   언어  남자      34
3  201808  서울특별시    종로구   언어  여자      10
4  201808  서울특별시    종로구   지적  남자     222

In [206]:
# Test: 서울특별시에서 구별로 등록자애인수 합계구하기
df[ df["통계시도명"] == "서울특별시"].groupby('통계시군구명').sum()["등록장애인수"].reset_index()

   통계시군구명  등록장애인수
0     강남구   15385
1     강동구   17360
2     강북구   17474
3     강서구   28732
4     관악구   20237
5     광진구   12552
6     구로구   17466
7     금천구   11114
8     노원구   27448
9     도봉구   15345
10   동대문구   15901
11    동작구   14546
12    마포구   13218
13   서대문구   12591
14    서초구   10733
15    성동구   11877
16    성북구   17371
17    송파구   19901
18    양천구   17273
19   영등포구   14336
20    용산구    8107
21    은평구   21459
22    종로구    5993
23     중구    5672
24    중랑구   20092

In [207]:
# df0 ~df52 데이터프레임 생성

for i in range(len(paths)):
    globals()['df'+str(i)] = pd.read_csv(paths[i], encoding = 'cp949')
    val = globals()['df'+str(i)]['통계년월'].values[1] # 월 한개씩 추출
    globals()['df'+str(i)] = globals()['df'+str(i)][globals()['df'+str(i)]['통계시도명'] == '서울특별시'].groupby('통계시군구명').sum()['등록장애인수'].reset_index()
    globals()['df'+str(i)]['년도'] = val # 년도 추출

In [208]:
## 연속 concat실패. 마지막 2개의 Range만 concat되는 문제
# val = [0]

# for i in range(0, 52): # len(paths)-1 
#     val = globals()['df'+str(i)]
#     val = np.concatenate((val, globals()['df'+str(i+1)] ))

    
    
# df_new = pd.DataFrame(val)
# df_new.columns = ['구', '장애인수','기준년월']
# df_new

In [209]:
df_list= [df0,df1,df2,df3,df4,df5,df6,df7,df8,df9, df10,df11,df12,df13,df14,df15,df16,df17,df18,df19,df20,
df21,df22,df23,df24,df25,df26,df27,df28,df29,df30,df31,df32,df33,df34,df35,df36,df37,df38,df39,df40,
df41,df42,df43,df44,df45,df46,df47,df48,df49,df50,df51,df52]

df_new = pd.concat(df_list)
df_new.columns = ['구', '장애인수','기준년월']
df_new = df_new.sort_values(by=['기준년월','구'])

# csv로 저장합니다.
df_new.to_csv('장애인수201801_202205.csv', index= False, encoding='utf-8')